@use 'dashboard-template' as tpl;

@include tpl.dashboard-base;

.patient-card {
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 25px rgba(69, 90, 100, 0.15);
  }
}
